interactions:
  - request:
      method: GET
      uri: "https://api.conceptnet.io/query?text=Person&limit=10"
      headers:
    response:
      status: 200
      headers:
        content-type: ["application/json"]
      body: |
        {
          "edges": [
            {
              "start": {"@id": "/c/en/person", "label": "person"},
              "end": {"@id": "/c/en/human", "label": "human"},
              "uri": "http://conceptnet.io/c/en/human",
              "weight": 3.0,
              "sources": []
            },
            {
              "start": {"@id": "/c/en/person", "label": "person"},
              "end": {"@id": "/c/en/individual", "label": "individual"},
              "uri": "http://conceptnet.io/c/en/individual",
              "weight": 2.0,
              "sources": []
            },
            {
              "start": {"@id": "/c/en/person", "label": "person"},
              "end": {"@id": "/c/en/agent", "label": "agent"},
              "uri": "http://conceptnet.io/c/en/agent",
              "weight": 1.5,
              "sources": []
            }
          ]
        }
version: 1
