interactions:
  - request:
      method: GET
      uri: "http://lookup.dbpedia.org/api/search?query=Person"
      headers:
    response:
      status: 200
      headers:
        content-type: ["application/json"]
      body: |
        {
          "results": [
            {
              "uri": "http://dbpedia.org/resource/Person",
              "label": "Person",
              "description": "A human being",
              "score": 0.95
            },
            {
              "uri": "http://dbpedia.org/resource/Individual",
              "label": "Individual",
              "description": "A single thing",
              "score": 0.70
            },
            {
              "uri": "http://dbpedia.org/resource/Human",
              "label": "Human",
              "description": "Homo sapiens",
              "score": 0.85
            }
          ]
        }
version: 1
