interactions:
  - request:
      method: GET
      uri: "https://www.wikidata.org/w/api.php?action=wbsearchentities&search=Person&language=en&limit=10&format=json"
      headers:
    response:
      status: 200
      headers:
        content-type: ["application/json"]
      body: |
        {
          "search": [
            {
              "id": "Q5",
              "label": "human",
              "description": "Homo sapiens",
              "match": {
                "type": "label",
                "language": "en",
                "text": "human"
              }
            },
            {
              "id": "Q43229",
              "label": "organism",
              "description": "Living thing",
              "match": {
                "type": "label",
                "language": "en",
                "text": "organism"
              }
            },
            {
              "id": "Q15632617",
              "label": "individual",
              "description": "Single instance",
              "match": {
                "type": "label",
                "language": "en",
                "text": "individual"
              }
            }
          ],
          "success": 1
        }
version: 1
