# Local
.DS_Store
*.local
*.log*
coverage/

# E2E Testing
/playwright-report/
/playwright/.cache/
/test-results/
.env.e2e.local

# Claude
.claude/
PRPs/

# Dist
node_modules
dist/
.vinxi
.output
.vercel
.netlify
.wrangler

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Tanstack
.tanstack/*