interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://lookup.dbpedia.org/api/search?query=Animal&format=json&maxResults=10
    response:
      body:
        string: '{"results": [{"uri": "http://dbpedia.org/resource/Animal", "label": "Animal", "description": "", "score": 0.99}]}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.conceptnet.io/query?text=Animal&limit=10
    response:
      body:
        string: '{"edges": [{"start": {"@id": "/c/en/animal", "label": "animal"}, "end": {"@id": "/c/en/animal", "label": "animal"}, "uri": "http://conceptnet.io/c/en/animal", "weight": 5.0, "sources": []}]}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://www.wikidata.org/w/api.php?action=wbsearchentities&search=Animal&language=en&limit=10&format=json
    response:
      body:
        string: '{"search": [{"id": "Q1", "label": "Animal", "description": "", "match": {"type": "label", "language": "en", "text": "Animal"}}], "success": 1}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
