interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://lookup.dbpedia.org/api/search?query=Disease&format=json&maxResults=10
    response:
      body:
        string: '{"results": [{"uri": "http://dbpedia.org/resource/Disease", "label": "Disease", "description": "", "score": 0.99}]}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.conceptnet.io/query?text=Disease&limit=10
    response:
      body:
        string: '{"edges": [{"start": {"@id": "/c/en/disease", "label": "disease"}, "end": {"@id": "/c/en/disease", "label": "disease"}, "uri": "http://conceptnet.io/c/en/disease", "weight": 5.0, "sources": []}]}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://www.wikidata.org/w/api.php?action=wbsearchentities&search=Disease&language=en&limit=10&format=json
    response:
      body:
        string: '{"search": [{"id": "Q1", "label": "Disease", "description": "", "match": {"type": "label", "language": "en", "text": "Disease"}}], "success": 1}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
