interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://lookup.dbpedia.org/api/search?query=Plant&format=json&maxResults=10
    response:
      body:
        string: '{"results": [{"uri": "http://dbpedia.org/resource/Plant", "label": "Plant", "description": "", "score": 0.99}]}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.conceptnet.io/query?text=Plant&limit=10
    response:
      body:
        string: '{"edges": [{"start": {"@id": "/c/en/plant", "label": "plant"}, "end": {"@id": "/c/en/plant", "label": "plant"}, "uri": "http://conceptnet.io/c/en/plant", "weight": 5.0, "sources": []}]}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://www.wikidata.org/w/api.php?action=wbsearchentities&search=Plant&language=en&limit=10&format=json
    response:
      body:
        string: '{"search": [{"id": "Q1", "label": "Plant", "description": "", "match": {"type": "label", "language": "en", "text": "Plant"}}], "success": 1}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
