interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://lookup.dbpedia.org/api/search?query=Energy&format=json&maxResults=10
    response:
      body:
        string: '{"results": []}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.conceptnet.io/query?text=Energy&limit=10
    response:
      body:
        string: '{"edges": []}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://www.wikidata.org/w/api.php?action=wbsearchentities&search=Energy&language=en&limit=10&format=json
    response:
      body:
        string: '{"search": [], "success": 1}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
